* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #2c3b42;
}

#titulo, #subtitulo {
    background-color: #1f2c34;
    color: #d8d4d4;
    height: 15vh;
}

#titulo {
    background-color: #d8d4d4;
    border-right: 2px solid #2c3b42;
}

#boton-temas {
    background-color: transparent;
    border: none;
    font-size: 25px;
}

.dropdown-menu {
    background-color: #121b22;
}

.dropdown-menu a {
    font-size: 25px;
    color: #d8d4d4;
    transition: all 300ms;
}

.dropdown-menu a:hover {
    background-color: #2B3942;
    color: #d8d4d4;
}

.dropdown-menu a {
    font-size: 25px;
    color: #d8d4d4;
}

.dropdown-menu {
    transition: all 300ms ease !important;
}

#temario {
    background-color: #121b22;
    border-right: 2px solid #2c3b42;
    height: 85vh;
    overflow-y: auto;
}

#temario h4 {
    color: #d8d4d4;
    font-size: 20px;
    font-weight: bold;
}

#temario h5 {
    color: #b8bdc1;
    font-size: 16px;
}

#temario .tema {
    border-bottom: 2px solid #2c3b42;
    transition: all 300ms;
}

#temario .tema:hover {
    background-color: #2b7162;
    cursor: pointer;
}

#temario .selected {
    background-color: #2b7162;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #121b22;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374045; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #374045; 
}

#principal {
    background-color: #0B141B;
    overflow-y: auto;
    color: #d8d4d4;
    height: 85vh;
}

#tema {
    height: 88%;
    overflow-y: auto;
}

#tema h1,
#tema h2,
#tema table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#tema h1 {
    text-align: center;
    font-size: 30px;
}

#tema h2 {
    font-size: 24px;
}

#tema hr,
#tema p,
#tema ul,
#tema a {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tema hr {
    background-color: #00A884;
}

#tema p {
    text-align: justify;
}

#tema ul {
    margin-left: 50px;
    list-style: disc;
}

#tema li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#tema a, #creative-commons a {
    color: #00A884;
}

#creative-commons {
    background-color: #1F2C34;
    height: 12%;
    font-size: 12px;
    overflow-y: hidden;
}