* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #2c3b42;
    overflow: hidden;
}

#titulo, #subtitulo {
    background-color: #1f2c34;
    color: #b8bdc1;
    height: 15vh;
}

#titulo {
    background-color: #d8d4d4;
    border-right: 2px solid #2c3b42;
}

#subtitulo h3 {
    font-size: 35px;
}

#temario {
    background-color: #121b22;
    border-right: 2px solid #2c3b42;
    height: 85vh;
    overflow-y: auto;
}

#temario h4 {
    color: #b8bdc1;
    font-size: 22px;
    font-weight: bold;
}

#temario .toggle-plus i {
    font-size: 25px;
}

#inicio, #contenidos {
    border-bottom: 1px solid #00A884;
}

#temario h5 {
    color: #b8bdc1;
    font-size: 20px;
}

#temario .tema {
    border-bottom: 2px solid #2c3b42;
    transition: all 300ms;
}

#temario .tema:hover {
    background-color: #2b7162;
    cursor: pointer;
}

#temario .selected {
    background-color: #2b7162;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #121b22;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374045; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #374045; 
}

#principal {
    background-color: #0B141B;
    overflow-y: auto;
    color: #b8bdc1;
    height: 85vh;
}

#tema, #tema-escondido {
    background-color: #0B141B;
    height: 88%;
    color: #b8bdc1;
    overflow-y: auto;
    font-size: 18px;
}

#tema-escondido {
    height: auto;
}

#tema h1,
#tema h2,
#tema table,
#tema-escondido h1,
#tema-escondido h2,
#tema-escondido table {
    color: #b8bdc1;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tema h1, #tema-escondido h1 {
    text-align: center;
    font-size: 32px;
}

#tema h2, #tema-escondido h2 {
    font-size: 26px;
}

#tema hr,
#tema p,
#tema ul,
#tema ol,
#tema a,
#tema-escondido hr,
#tema-escondido p,
#tema-escondido ul,
#tema-escondido ol,
#tema-escondido a,
#evaluacion .opcion {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tema hr, #tema-escondido hr {
    background-color: #00A884 !important;
}

#tema p, #tema-escondido p {
    text-align: justify;
}

#tema ul, #tema-escondido ul {
    margin-left: 50px;
    list-style: disc;
}

#tema ol, #tema-escondido ol {
    margin-left: 50px;
    list-style: lower-alpha;
}

#tema li, #tema-escondido li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#tema a, #tema-escondido a, #creative-commons a {
    color: #00A884;
}

#creative-commons {
    background-color: #1F2C34;
    height: 12%;
    font-size: 14px;
    overflow-y: hidden;
}

.foto-contacto {
    width: 200px;
    border-radius: 20px;
}

#buscador {
    background-color: #202C33;
    border-color: #202C33;
    border-radius: 10px;
}

#buscador input[type=text] {
    background-color: transparent;
    border-color: transparent;
    color: #b8bdc1;
    padding-left: 20px;
    font-size: 18px;
}

#buscador input[type=text]:focus {
    border-color: transparent !important;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
}

.encontrado {
    font-weight: bold;
    color: #00A884;
}

#evaluacion .opcion {
    border: 1px solid #1F2C34 !important;
    border-radius: 10px;
    text-align: justify;    
}

#evaluacion .opcion:hover {
    cursor: pointer;
    background-color: #1F2C34;
}

#evaluacion .seleccionada {
    background-color: #1F2C34;
}

#evaluacion .pregunta.correcta .opcion.seleccionada {
    border: 1px solid #00A884 !important;
    color: #00A884;
    background-color: transparent !important;
    border-radius: 10px;
}

#evaluacion .pregunta.incorrecta .opcion.seleccionada {
    border: 1px solid #F15C6D !important;
    color: #F15C6D;
    background-color: transparent !important;
    border-radius: 10px;
}

#evaluacion .pregunta.incorrecta .opcion.opcionCorrecta {
    border: 1px solid #00A884 !important;
    background-color: #00A884;
    border-radius: 10px;
}

#evaluacion .pregunta .palomita {
    color: #00A884;
}

#evaluacion .pregunta .tache {
    color: #F15C6D;
}

@media(max-width: 1300px) {

    #titulo {
        min-width: 100%;
        position: fixed !important;
        z-index: 9999;
        height: 140px !important;
    }

    #subtitulo {
        display: none !important;
    }

    #titulo h3 {
        color: black !important;
    }

    #temario {
        min-width: 100%;
        display: none !important;
    }

    #principal {
        min-width: 100%;
        height: auto !important;
        padding-top: 150px !important;
    }

    #principal #tema {
        height: auto !important;
    }

    html, body {
        overflow: auto !important;
        height: auto !important;
    }

    #creative-commons {
        padding-bottom: 10px !important;
        min-height: 100px !important;
    }


}