* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #2c3b42;
    overflow: hidden;
}

#titulo, #subtitulo {
    background-color: #1f2c34;
    color: #b8bdc1;
    height: 15vh;
}

#titulo {
    background-color: #d8d4d4;
    border-right: 2px solid #2c3b42;
}

#subtitulo h3 {
    font-size: 35px;
}

#temario, #temarioDrop {
    background-color: #121b22;
    border-right: 2px solid #2c3b42;
    height: 85vh;
    overflow-y: auto;
}

#temario h4, #temarioDrop h4 {
    color: #b8bdc1;
    font-size: 2vh !important;
    font-weight: bold;
}

#temario h5, #temarioDrop h5 {
    color: #b8bdc1;
    font-size: 1.6vh !important;
    font-weight: bold;
}

#temario .toggle-plus i, #temarioDrop .toggle-plus i {
    font-size: 2vh;
}

#inicio, #contenidos {
    border-bottom: 1px solid #00A884;
}

#temario .tema, #temarioDrop .tema {
    border-bottom: 2px solid #2c3b42;
    transition: all 300ms;
}

#temario .tema:hover, #temarioDrop .tema:hover {
    background-color: #2b7162;
    cursor: pointer;
}

#temario .selected, #temarioDrop .selected {
    background-color: #2b7162;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #121b22;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374045; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #374045; 
}

#principal {
    background-color: #0B141B;
    overflow-y: auto;
    color: #b8bdc1;
    height: 85vh;
}

#tema, #tema-escondido {
    background-color: #0B141B;
    height: 88%;
    color: #b8bdc1;
    overflow-y: auto;
    font-size: 18px;
}

#tema-escondido {
    height: auto;
}

#tema h1,
#tema h2,
#tema table,
#tema-escondido h1,
#tema-escondido h2,
#tema-escondido table {
    color: #b8bdc1;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tema h1, #tema-escondido h1 {
    text-align: center;
    font-size: 32px;
}

#tema h2, #tema-escondido h2 {
    font-size: 26px;
}

#tema hr,
#tema p,
#tema ul,
#tema ol,
#tema a,
#tema-escondido hr,
#tema-escondido p,
#tema-escondido ul,
#tema-escondido ol,
#tema-escondido a,
#evaluacion .opcion {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tema hr, #tema-escondido hr {
    background-color: #00A884 !important;
}

#tema p, #tema-escondido p {
    text-align: justify;
}

#tema ul, #tema-escondido ul {
    margin-left: 50px;
    list-style: disc;
}

#tema ol, #tema-escondido ol {
    margin-left: 50px;
    list-style: lower-alpha;
}

#tema li, #tema-escondido li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#tema a, #tema-escondido a, #creative-commons a {
    color: #00A884;
}

#creative-commons {
    background-color: #1F2C34;
    height: 12%;
    font-size: 14px;
    overflow-y: hidden;
}

.foto-contacto {
    width: 200px;
    border-radius: 20px;
}

#buscador {
    background-color: #202C33;
    border-color: #202C33;
    border-radius: 10px;
}

#buscador input[type=text] {
    background-color: transparent;
    border-color: transparent;
    color: #b8bdc1;
    padding-left: 20px;
    font-size: 18px;
}

#buscador input[type=text]:focus {
    border-color: transparent !important;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
}

.encontrado {
    font-weight: bold;
    color: #00A884;
}

#evaluacion .opcion {
    border: 1px solid #1F2C34 !important;
    border-radius: 10px;
    text-align: justify;    
}

#evaluacion .opcion:hover {
    cursor: pointer;
    background-color: #1F2C34;
}

#evaluacion .seleccionada {
    background-color: #1F2C34;
}

#evaluacion .pregunta.correcta .opcion.seleccionada {
    border: 1px solid #00A884 !important;
    color: #00A884;
    background-color: transparent !important;
    border-radius: 10px;
}

#evaluacion .pregunta.incorrecta .opcion.seleccionada {
    border: 1px solid #F15C6D !important;
    color: #F15C6D;
    background-color: transparent !important;
    border-radius: 10px;
}

#evaluacion .pregunta.incorrecta .opcion.opcionCorrecta {
    border: 1px solid #00A884 !important;
    background-color: #00A884;
    border-radius: 10px;
}

#evaluacion .pregunta .palomita {
    color: #00A884;
}

#evaluacion .pregunta .tache {
    color: #F15C6D;
}

#menuDrag {
    z-index: 9000 !important;
    cursor: default !important;
    position: absolute !important;
    font-size: 4vh;
    width: 60px;
    height: 60px;
    background-color: #2b7162;
    border-radius: 50%;
    margin: 0 !important;
    padding: 0 !important;
}

#menuDrag i {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    padding: 0 !important;
}

#menuDrop {
    z-index: 9000 !important;
    width: 95%;
    height: 65vh;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    background-color: #121B22;
    border-radius: 10px;
    border: 1px solid #00A884;
}

@media only screen and (min-width: 1px) and (max-width: 1300px) {

    #imagenFinanzas {
        min-width: 70%;
    }

    #menuDrag {
        display: block !important;
    }

    #menuDrop #temarioDrop {
        display: block !important;
        z-index: 9500 !important;
        height: 100%;
        min-width: 100%;
    }

    #menuDrop #temarioDrop #inicio {
        display: none !important;
    }

    #titulo {
        min-width: 100%;
        position: fixed !important;
        z-index: 9999;
        height: 100px !important;
    }

    #titulo h3 {
        display: block !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #subtitulo {
        display: none !important;
    }

    #titulo h3 {
        color: black !important;
    }

    #temario {
        min-width: 100%;
        display: none !important;
    }

    #principal {
        min-width: 100%;
        height: auto !important;
        padding-top: 100px !important;
        padding-bottom: 110px;
    }

    #principal #tema {
        height: auto !important;
        min-height: 600px !important;
        overflow-wrap: break-word !important;
    }

    html, body {
        overflow: auto !important;
        height: auto !important;
    }

    #titulo h3 {
        text-align: center;
        font-size: 1.8vh;
    }

    #tema p,
    #tema ul,
    #tema ol,
    #tema a,
    #tema figcaption,
    #tema button,
    #tema .opcion i,
    #menuDrop h4,
    #buscador i,
    #tema #buscador input[type="text"],
    #tema table {
        font-size: 1.7vh;
    }

    #tema .wrapperBuscador {
        min-width: 100% !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    #tema .wrapperBotonesEvaluacion {
        padding-top: 30px !important;
        min-width: 100% !important;
    }

    .opcion {
        min-width: 100% !important;
    }

    #tema h1 {
        font-size: 2vh;
    }

    #tema h2 {
        font-size: 1.85vh;
    }

    #creative-commons {
        padding-bottom: 10px !important;
        font-size: 1.5vh;
        height: fit-content !important;
        overflow: hidden !important;
    }

    #wrapperFechaCreative {
        max-width: 100% !important;
        margin: 0px auto !important;
    }

    #fechaCreative, #logoCreative {
        text-align: center !important;
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    #logoCreative img {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        min-width: 100px !important;
    }

    #wrapperContactos {
        display: block !important;
    }

    .contactoInfo {
        display: block !important;
        min-width: 100% !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }

    table,
    figure img,
    .figure {
        min-width: 100% !important;
    }

    #hiddenFinanzas {
        height: 50px !important;
    }

    .wrapperApoyo {
        display: block !important;
        min-width: 100% !important;
    }

    .wrapperApoyo .botonImagen {
        display: block !important;
        margin: 0px auto !important;
    }

}

@media only screen and (min-width: 1px) and (max-width: 1000px) {

    .botonImagen {
        min-width: 35% !important;
    }

    .wrapperConcepto {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

}

@media only screen and (min-width: 1px) and (max-width: 800px) {

    .botonImagen {
        min-width: 40% !important;
    }

    #imagenFinanzas {
        min-width: 90%;
    }

}

@media only screen and (max-width: 600px) {

    .botonImagen {
        min-width: 70% !important;
    }

    #imagenFinanzas {
        min-width: 100%;
    }

}