* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #2c3b42;
}

#titulo, #subtitulo {
    background-color: #1f2c34;
    color: #d8d4d4;
    height: 15vh;
}

#titulo {
    background-color: #d8d4d4;
    border-right: 2px solid #2c3b42;
}

#subtitulo h3 {
    font-size: 35px;
}

#temario {
    background-color: #121b22;
    border-right: 2px solid #2c3b42;
    height: 85vh;
    overflow-y: auto;
}

#temario h4 {
    color: #d8d4d4;
    font-size: 22px;
    font-weight: bold;
}

#temario .toggle-plus i {
    font-size: 25px;
}

#inicio, #contenidos {
    border-bottom: 1px solid #00A884;
}

#temario h5 {
    color: #b8bdc1;
    font-size: 20px;
}

#temario .tema {
    border-bottom: 2px solid #2c3b42;
    transition: all 300ms;
}

#temario .tema:hover {
    background-color: #2b7162;
    cursor: pointer;
}

#temario .selected {
    background-color: #2b7162;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #121b22;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374045; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #374045; 
}

#principal {
    background-color: #0B141B;
    overflow-y: auto;
    color: #d8d4d4;
    height: 85vh;
}

#tema {
    height: 88%;
    overflow-y: auto;
    font-size: 18px;
}

#tema h1,
#tema h2,
#tema table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#tema h1 {
    text-align: center;
    font-size: 32px;
}

#tema h2 {
    font-size: 26px;
}

#tema hr,
#tema p,
#tema ul,
#tema ol,
#tema a {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tema hr {
    background-color: #00A884;
}

#tema p {
    text-align: justify;
}

#tema ul {
    margin-left: 50px;
    list-style: disc;
}

#tema ol {
    margin-left: 50px;
    list-style: lower-alpha;
}

#tema li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#tema a, #creative-commons a {
    color: #00A884;
}

#creative-commons {
    background-color: #1F2C34;
    height: 12%;
    font-size: 14px;
    overflow-y: hidden;
}

.foto-contacto {
    width: 200px;
    border-radius: 20px;
}

#buscador {
    background-color: #202C33;
    border-color: #202C33;
    border-radius: 10px;
}

#buscador input[type=text] {
    background-color: transparent;
    border-color: transparent;
    color: #d8d4d4;
    padding-left: 20px;
}

#buscador input[type=text]:focus {
    border-color: transparent !important;
    box-shadow: none;
    text-shadow: none;
}

.encontrado {
    font-weight: bold;
    color: #00A884;
}